# Drug Consumption Classification
## Juan Manuel González Ascencio

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('drug_consumption.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1885 non-null   int64
 1   Age        1885 non-null   float64
 2   Gender     1885 non-null   float64
 3   Education  1885 non-null   float64
 4   Country    1885 non-null   float64
 5   Ethnicity  1885 non-null   float64
 6   Nscore     1885 non-null   float64
 7   Escore     1885 non-null   float64
 8   Oscore     1885 non-null   float64
 9   Ascore     1885 non-null   float64
 10  Cscore     1885 non-null   float64
 11  Impulsive  1885 non-null   float64
 12  SS         1885 non-null   float64
 13  Alcohol    1885 non-null   object
 14  Amphet     1885 non-null   object
 15  Amyl       1885 non-null   object
 16  Benzos     1885 non-null   object
 17  Caff       1885 non-null   object
 18  Cannabis   1885 non-null   object
 19  Choc       1885 non-null   object
 20  Coke       1885 non-null   object
 21  Crack      1885 non-null   object
 22  Ecstasy    1885 non-null   object
 23  Heroin     1885 non-null   object
 24  Ketamine   1885 non-null   object
 25  Legalh     1885 non-null   object
 26  LSD        1885 non-null   object
 27  Meth       1885 non-null   object
 28  Mushrooms  1885 non-null   object
 29  Nicotine   1885 non-null   object
 30  Semer      1885 non-null   object
 31  VSA        1885 non-null   object
dtypes: float64(12), int64(1), object(19)
memory usage: 471.4+ KB

## Variables 

Podemos ver que tenemos 32 columnas con las cuales podemos empezar a investigar, antes de explicar las diferentes variables que tenemos cabe explicar un poco algunos datos raros que tenemos. Como podemos ver, los valores de edad, genero, educación y país tienen valores flotantes, lo cual no nos dice nada ¿comó un país va a ser 0.98?

Leyendo un poco al respecto podemos ver que el creador del data set nos dice que hagamos lo siguiente: