# Examen UF2
## Juan Manuel González Ascencio - A00572003
-----
Lee el documento .csv y pasa los datos a un DataFrame, posteriormente, despliega su información general: índices, columnas, nulos, tamaño en memoria.

In [79]:
import pandas as pd
import numpy as np 
import sqlite3

In [63]:
df = pd.read_csv('df-1.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   embarazos  419 non-null    float64
 1   plasma     488 non-null    float64
 2   presion    497 non-null    int64
 3   masa       497 non-null    float64
 4   edad       497 non-null    int64
 5   estado     497 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 23.4+ KB
None

Imprime el total de registros no nulos en la columna “embarazos”.

Utiliza en el código la expresión “El dataframe tiene ___ registros no nulos en la columna embarazos”

In [64]:
print("El dataframe tiene ",df['embarazos'].count(), " registros no nulos en la columna embarazos")

El dataframe tiene  419  registros no nulos en la columna embarazos

Borra a los pacientes con los índices 5, 20 y 60 e imprime el conteo de registros no nulos por columna con el total actualizado.

In [65]:
#Borra a los pacientes con los índices 5, 20 y 60 e imprime el conteo de registros no nulos por columna con el total actualizado.
df = df.drop([5,20,60])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 494 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   embarazos  416 non-null    float64
 1   plasma     485 non-null    float64
 2   presion    494 non-null    int64
 3   masa       494 non-null    float64
 4   edad       494 non-null    int64
 5   estado     494 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 27.0+ KB
None

Agrega los siguientes datos al dataframe:

Despliega una descripción estadística del dataframe actualizado (redondeado a 2 dígitos) y completa la información para la variable edad:

In [66]:
df.head(-5)

     embarazos  plasma  presion  masa  edad    estado
0          6.0   148.0       72  33.6    50  positive
1          1.0    85.0       66  26.6    31  negative
2          8.0   183.0       64  23.3    32  positive
3          1.0    89.0       66  28.1    21  negative
4          NaN   137.0       40  43.1    33  positive
..         ...     ...      ...   ...   ...       ...
487        NaN   173.0       78  46.5    58  negative
488        4.0    99.0       72  25.6    28  negative
489        8.0   194.0       80  26.1    67  negative
490        2.0    83.0       65  36.8    24  negative
491        2.0    89.0       90  33.5    42  negative

[489 rows x 6 columns]

In [67]:
#Agega un registro con los siguientes valores [2, 81, 72, 30.1, 25, "negative"]
#dict = {'embarazos':[2,7,6], 
#        'plasma':[81,195,154], 
#        'presion':[72,70,74],
#        'masa':[30.1,25.1,29.3],
#        'edad':[25,55,39],
#        'estado':['negative','positive','negative']} 
       
#df.loc[len(df.index)] = [2, 81, 72, 30.1, 25, "negative"]
#df.loc[len(df.index)] = [7, 195, 70, 25.1, 55, "positive"]
#df.loc[len(df.index)] = [6, 154, 74, 29.3, 39, "negative"]

df2 = pd.DataFrame({'embarazos':[2,7,6], 
        'plasma':[81,195,154], 
        'presion':[72,70,74],
        'masa':[30.1,25.1,29.3],
        'edad':[25,55,39],
        'estado':['negative','positive','negative']} )

pd.concat([df,df2] , ignore_index=True)

     embarazos  plasma  presion  masa  edad    estado
0          6.0   148.0       72  33.6    50  positive
1          1.0    85.0       66  26.6    31  negative
2          8.0   183.0       64  23.3    32  positive
3          1.0    89.0       66  28.1    21  negative
4          NaN   137.0       40  43.1    33  positive
..         ...     ...      ...   ...   ...       ...
492        6.0   166.0       74  26.6    66  negative
493        5.0   110.0       68  26.0    30  negative
494        2.0    81.0       72  30.1    25  negative
495        7.0   195.0       70  25.1    55  positive
496        6.0   154.0       74  29.3    39  negative

[497 rows x 6 columns]

In [68]:
df.edad.describe()

count    494.000000
mean      33.101215
std       11.631507
min       21.000000
25%       24.000000
50%       29.000000
75%       39.750000
max       81.000000
Name: edad, dtype: float64

Reemplaza los valores nulos de la columna “embarazos” por 0 y los de la columna “plasma” por la mediana de los pacientes.

In [70]:
#Reemplaza los valores nulos de la columna “embarazos” por 0 y los de la columna “plasma” por la mediana de los pacientes.
df['embarazos'].fillna(0, inplace=True)
df['plasma'].fillna(df['plasma'].median(), inplace=True)

In [72]:
#promedio de embarazos
print("El promedio de embarazos es: ", df['embarazos'].mean())
#promedio de plasma
print("El promedio de plasma es: ", df['plasma'].mean())

El promedio de embarazos es:  3.8036437246963564
El promedio de plasma es:  121.52024291497976

Imprime los tres pacientes con la presión arterial más alta y rellena los campos con los valores en orden

In [75]:
print(df.sort_values(by='presion', ascending=False).head(3))

     embarazos  plasma  presion  masa  edad    estado
106        1.0    96.0      122  22.4    27  negative
43         9.0   171.0      110  45.4    54  positive
177        0.0   129.0      110  67.1    26  positive

Imprime el total de pacientes que no tienen diabetes

In [76]:
#Imprime el total de pacientes que no tienen diabetes
print("El total de pacientes que no tienen diabetes es: ", df[df['estado'] == 'negative'].shape[0])

El total de pacientes que no tienen diabetes es:  313

En promedio, ¿Quién tiene la presión arterial más alta, los pacientes con diabetes (positive) o los que no tienen (negative)?

Nota: Para responder a la pregunta codifica de manera que se despliegue "Los pacientes con/sin diabetes tienen mayor presión: XX.XX"

In [77]:
print("Los pacientes con diabetes tienen mayor presión: ", df[df['estado'] == 'positive']['presion'].mean())
print("Los pacientes sin diabetes tienen mayor presión: ", df[df['estado'] == 'negative']['presion'].mean())

Los pacientes con diabetes tienen mayor presión:  69.72375690607734
Los pacientes sin diabetes tienen mayor presión:  68.3035143769968

Genera una consulta (mask) y responde a la pregunta ¿Cuántos pacientes diabéticos tienen entre 20 y 40 años?

In [78]:
#Genera una consulta (mask) y responde a la pregunta ¿Cuántos pacientes diabéticos tienen entre 20 y 40 años?

mask = (df['estado'] == 'positive') & (df['edad'] >= 20) & (df['edad'] <= 40)
print("Los pacientes diabéticos que tienen entre 20 y 40 años son: ", df[mask].shape[0])

Los pacientes diabéticos que tienen entre 20 y 40 años son:  120

Ahora trabajaremos con otra fuente de información: `Mental Health Survey Data Download Mental Health Survey Data`. Estos son datos recolectados por la Open Source Mental Illness (OSMI) usando respuestas a cuestionarios de los años 2014, 2016, 2017, 2018 y 2019. Cada cuestionario mide comportamientos de salud mental y frecuencia de desórdenes de salud mental en el lugar de trabajo.

La base de datos SQLite contiene 3 tablas: Survey, Question, y Answer:

- Survey (PRIMARY KEY INT SurveyID, TEXT Description)
- Question (PRIMARY KEY QuestionID, TEXT QuestionText)
- Answer (PRIMARY/FOREIGN KEY SurveyID, PRIMARY KEY UserID, PRIMARY/FOREIGN KEY QuestionID, TEXT AnswerText) 
 

Algunas consideraciones:

- SurveyID es simplemente el año de la encuesta, es decir, 2014, 2016, 2017, 2018, 2019.
- La misma pregunta se puede utilizar para varias encuestas.
- La tabla de respuestas es una tabla compuesta con varias claves primarias. SurveyID y QuestionID son FOREIGN KEYS.
- Algunas preguntas pueden contener varias respuestas, por lo que el mismo usuario puede aparecer más de una vez para ese ID de pregunta.
 
Lee las tablas del archivo .sqlite en DataFrames, posteriormente, completa la siguiente información de cada dataframe:

In [86]:
#Lee las tablas del archivo .sqlite en DataFrames
conn = sqlite3.connect('mental_health-1.sqlite')
df1 = pd.read_sql_query("SELECT * FROM Survey", conn)
dfPreguntas = pd.read_sql_query("SELECT * FROM Question", conn)
dfRespuestas = pd.read_sql_query("SELECT * FROM Answer", conn)
#Imprime el total de registros de cada tabla
print(df1.shape[0])
print(dfPreguntas.shape[0])

#Total de columnas
print(df1.shape[1])
print(dfPreguntas.shape[1])

5
105
2
2

Crea un nuevo DataFrame que integre los textos del dataframe de preguntas junto con el DataFrame de respuestas.

In [98]:
#Crea un nuevo DataFrame que integre los textos del dataframe de preguntas junto con el DataFrame de respuestas

df4=pd.read_sql_query("SELECT * FROM Question INNER JOIN Answer ON Question.QuestionID = Answer.QuestionID", conn)

#Imprime el total de registros del nuevo DataFrame
print(df4.shape[0])
#Total de columnas
print(df4.shape[1])

df4.head()

236898
6

        questiontext  questionid AnswerText  SurveyID  UserID  QuestionID
0  What is your age?           1         -1      2014     391           1
1  What is your age?           1         -1      2014     716           1
2  What is your age?           1         -1      2014    1128           1
3  What is your age?           1         -1      2017    3447           1
4  What is your age?           1         -1      2017    3449           1

Mediante agrupamiento, despliega el total de usuarios que respondieron por año.

In [101]:
#Mediante agrupamiento, despliega el total de usuarios que respondieron por año SurrveyID es el año
dfRespuestas.groupby('SurveyID').size()

SurveyID
2014    32760
2016    88238
2017    57456
2018    31692
2019    26752
dtype: int64

Usa una operación de filtrado para desplegar solo las filas de aquellos grupos de encuestas en las que el total de participación por año fue menor a 40,000.

In [112]:
#Usa una operación de filtrado para desplegar solo las filas de aquellos grupos de encuestas en las que el total de participación por año fue menor a 40,000.

dfRespuestas.groupby('SurveyID').filter(lambda x: x['UserID'].count() < 40000)

       AnswerText  SurveyID  UserID  QuestionID
0              37      2014       1           1
1              44      2014       2           1
2              32      2014       3           1
3              31      2014       4           1
4              31      2014       5           1
...           ...       ...     ...         ...
230336         -1      2019    4214          89
230337      White      2019    4215          89
230338         -1      2019    4216          89
230339         -1      2019    4217          89
230340      White      2019    4218          89

[91204 rows x 4 columns]

Genera un nuevo DataFrame con las respuestas a la pregunta número 3 (país) y codifica para generar una nueva variable numérica asociada llamada "enc_pais".

In [115]:
#Genera un nuevo DataFrame con las respuestas a la pregunta número 3 (país) y codifica para generar una nueva variable numérica asociada llamada "enc_pais".

dfPreguntas3 = dfRespuestas[dfRespuestas['QuestionID'] == 3]
dfPreguntas3['enc_pais'] = pd.factorize(dfPreguntas3['AnswerText'])[0]


#ultimos 5 registros
dfPreguntas3.tail()

/tmp/ipykernel_7655/4276650393.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfPreguntas3['enc_pais'] = pd.factorize(dfPreguntas3['AnswerText'])[0]

                      AnswerText  SurveyID  UserID  QuestionID  enc_pais
204640                     India      2019    4214           3        18
204641  United States of America      2019    4215           3        48
204642                     India      2019    4216           3        18
204643                     India      2019    4217           3        18
204644  United States of America      2019    4218           3        48

Agrega a ese DataFrame las respuestas a la pregunta 1 (Edad). NOTA: Cuidado con los índices.

In [127]:
#Agrega a ese DataFrame las respuestas a la pregunta 1 (Edad). NOTA: Cuidado con los índices.
dfPreguntas3['edad'] = dfRespuestas[dfRespuestas['QuestionID'] == 1]['AnswerText']
dfPreguntas3.tail()

,pais,SurveyID_x,UserID,QuestionID_x,enc_pais,edad,SurveyID_y,QuestionID_y,AnswerText,SurveyID,QuestionID
4213,India,2019,4214,3,18,NaN,2019,1,27,2019,1
4214,United States of America,2019,4215,3,48,NaN,2019,1,48,2019,1
4215,India,2019,4216,3,18,NaN,2019,1,50,2019,1
4216,India,2019,4217,3,18,NaN,2019,1,30,2019,1
4217,United States of America,2019,4218,3,48,NaN,2019,1,24,2019,1

In [129]:
#renombrar columnas
dfPreguntas3.rename(columns={'AnswerText':'Edad'}, inplace=True)
dfPreguntas3.tail()

,pais,SurveyID_x,UserID,QuestionID_x,enc_pais,edad,SurveyID_y,QuestionID_y,Edad,SurveyID,QuestionID
4213,India,2019,4214,3,18,NaN,2019,1,27,2019,1
4214,United States of America,2019,4215,3,48,NaN,2019,1,48,2019,1
4215,India,2019,4216,3,18,NaN,2019,1,50,2019,1
4216,India,2019,4217,3,18,NaN,2019,1,30,2019,1
4217,United States of America,2019,4218,3,48,NaN,2019,1,24,2019,1

In [134]:
#Mediante alguna técnica de binning, genera una nueva variable categórica para generar 4 rangos de edades basados en cuartiles.
dfPreguntas3['rango_edad'] = pd.qcut(dfPreguntas3['edad'], 4, labels=['1','2','3','4'])

#Indica a continuación los límites dados por los bins resultantes:
print(dfPreguntas3['edad'].describe())

count    1260.000000
mean       32.134921
std        11.392592
min       -29.000000
25%        27.000000
50%        31.000000
75%        36.000000
max       329.000000
Name: edad, dtype: float64

Con las variables numéricas del DataFrame anterior (i.e., DatosIniciales), aplica una transformación de modo que todas las variables tengan una desviación estándar 
 1

In [138]:
df.head()

#Con las variables numéricas del DataFrame anterior (i.e., DatosIniciales), aplica una transformación de modo que todas las variables tengan una desviación estándar aproximadamente igual a 1.
from sklearn.preprocessing import minmax_scale
df['embarazos'] = minmax_scale(df['embarazos'])
df['plasma'] = minmax_scale(df['plasma'])
df['presion'] = minmax_scale(df['presion'])
df['masa'] = minmax_scale(df['masa'])
df['edad'] = minmax_scale(df['edad'])

df.describe()

        embarazos      plasma     presion        masa        edad
count  494.000000  494.000000  494.000000  494.000000  494.000000
mean     0.223744    0.616854    0.564130    0.477872    0.201687
std      0.197473    0.162893    0.158054    0.120814    0.193858
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.058824    0.507614    0.524590    0.404247    0.050000
50%      0.176471    0.598985    0.573770    0.476900    0.133333
75%      0.352941    0.720812    0.655738    0.545455    0.312500
max      1.000000    1.000000    1.000000    1.000000    1.000000