# Actividad de repaso
## Juan Manuel González Ascencio - A00572003

--------------------

(20 pts) Genera el Dataframe de la tabla Stats y realiza limpieza, y preprocesamiento de modo que:
- La columna X1 sea utilizada como índice
- Conservemos solo aquellas columnas con mas de 20,000 registros
- De este resultado, conserva sólo aquellos registros que tengan completas las columnas: Year, Age, PTS, Tm, Pos
- A partir de la variable PTS, crea otra variable Anotador que indique si el jugador genera mas de 100 puntos.
- Despliega cuántos de estos registros pertenecen a cada categoría (Anotador o no anotador).

In [31]:
#pip install -U scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/b2/08/3696c9426c65e8a27831c7270d8df0facc023b65aee318f18cf9dacf10f3/scikit_learn-1.4.1.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached scikit_learn-1.4.1.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.6.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/1e/84/ccd9b08653022b7785b6e3ee070ffb2825841e0dc119be22f0840b2b35cb/threadpoolctl-3.4.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.4.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.4.1.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 2.6 MB/s eta 0:00:00a 0:00:01
Downloading threadpoolctl-3.4.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.1.post1 threadpoolctl-3.4.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [9]:
df = pd.read_excel('NBA.xlsx', sheet_name='stats')

#La columna X1 sea utilizada como índice
df.set_index('X1', inplace=True)

In [20]:
#Conservemos solo aquellas columnas con mas de 20,000 registros
df = df.dropna(thresh=20000, axis=1)
#print(df.count())

#De este resultado, conserva sólo aquellos registros que tengan completas las columnas: Year, Age, PTS, Tm, Pos

df = df.dropna(subset=['Year', 'Age', 'PTS', 'Tm', 'Pos'])
print(df.count())

Year      24616
Player    24616
Pos       24616
Age       24616
Tm        24616
G         24616
MP        24130
PER       24093
TS%       24530
FTr       24517
OWS       24577
DWS       24577
WS        24577
WS/48     24093
FG        24616
FGA       24616
FG%       24517
2P        24616
2PA       24616
2P%       24488
eFG%      24517
FT        24616
FTA       24616
FT%       23758
TRB       24304
AST       24616
PF        24616
PTS       24616
dtype: int64

In [22]:
#A partir de la variable PTS, crea otra variable Anotador que indique si el jugador genera mas de 100 puntos.

df['Anotador'] = df['PTS'] > 100

#Despliega cuántos de estos registros pertenecen a cada categoría (Anotador o no anotador).

print(df['Anotador'].value_counts())

Anotador
True     18663
False     5953
Name: count, dtype: int64

(20 pts) Feature scaling: Analiza los resultados de análisis usando las técnicas de Escalamiento de esta sesión
- Genera Boxplots con sus variables numéricas (sin escalar)
- Aplica escalamiento por normalización a sus variables numéricas
- Aplica escalamiento por estandarización a sus variables numéricas
- Compara resultados en boxplots. ¿Qué podemos interpretar de cada técnica?
- Responde en un bloque de texto: ¿Qué método elegir si hay posibilidades de adquirir constantemente nuevos datos?

In [53]:
#Genera Boxplots con sus variables numéricas (sin escalar)


pd.DataFrame(df, columns=df.columns).plot.box(figsize=(20,5), rot=90)

In [46]:

#Aplica escalamiento por normalización a sus variables numéricas

X = df.select_dtypes(include='number') # seleccionar variables numericas
norm = MinMaxScaler().fit(X) # ajusta parametros de la instancia de MinMaxScaler
array_norm = norm.transform(X) # Numpy array con escalamiento segun MinMax

data_norm = pd.DataFrame(array_norm, columns = X.columns) # creo DF con datos escalados
data_norm.describe().T

         count      mean       std  min       25%       50%       75%  max
Year   24616.0  0.635927  0.259992  0.0  0.462687  0.686567  0.850746  1.0
Age    24616.0  0.333246  0.147765  0.0  0.230769  0.307692  0.423077  1.0
G      24616.0  0.572961  0.304508  0.0  0.298851  0.655172  0.850575  1.0
MP     24130.0  0.311708  0.242432  0.0  0.087584  0.271510  0.507728  1.0
PER    24093.0  0.469182  0.027475  0.0  0.456987  0.470187  0.483386  1.0
TS%    24530.0  0.433994  0.083127  0.0  0.403169  0.445423  0.478873  1.0
FTr    24517.0  0.054240  0.036496  0.0  0.034667  0.049333  0.066667  1.0
OWS    24577.0  0.271702  0.091299  0.0  0.213675  0.235043  0.303419  1.0
DWS    24577.0  0.131043  0.074687  0.0  0.070588  0.105882  0.164706  1.0
WS     24577.0  0.187470  0.108467  0.0  0.106383  0.148936  0.234043  1.0
WS/48  24093.0  0.556656  0.022050  0.0  0.549332  0.558811  0.567428  1.0
FG     24616.0  0.122342  0.117796  0.0  0.025673  0.088291  0.187226  1.0
FGA    24616.0  0.136358  0.125875  0.0  0.031339  0.101614  0.209243  1.0
FG%    24517.0  0.430828  0.095875  0.0  0.393000  0.439000  0.480000  1.0
2P     24616.0  0.111646  0.112390  0.0  0.021916  0.076393  0.167815  1.0
2PA    24616.0  0.120877  0.117531  0.0  0.025958  0.085470  0.183602  1.0
2P%    24488.0  0.445359  0.099758  0.0  0.407000  0.456000  0.496000  1.0
eFG%   24517.0  0.300451  0.066103  0.0  0.276000  0.308667  0.334000  1.0
FT     24616.0  0.121924  0.134978  0.0  0.021429  0.075000  0.177381  1.0
FTA    24616.0  0.100375  0.107182  0.0  0.019809  0.064563  0.147469  1.0
FT%    23758.0  0.719267  0.141826  0.0  0.657000  0.743000  0.808000  1.0
TRB    24304.0  0.104561  0.106188  0.0  0.023732  0.073988  0.149837  1.0
AST    24616.0  0.098698  0.116730  0.0  0.016323  0.058419  0.137457  1.0
PF     24616.0  0.301472  0.219662  0.0  0.101036  0.282383  0.471503  1.0
PTS    24616.0  0.126646  0.122348  0.0  0.026309  0.090345  0.193100  1.0

In [41]:
stand_scal = StandardScaler().fit(X) # ajusta parametros del imputador
array_ss = stand_scal.transform(X) # Numpy array con escalamiento segun SS

data_ss = pd.DataFrame(array_ss, columns = X.columns) # creo DF con datos escalados
data_ss.describe().T.round(3)

         count  mean  std     min    25%    50%    75%     max
Year   24616.0   0.0  1.0  -2.446 -0.666  0.195  0.826   1.400
Age    24616.0   0.0  1.0  -2.255 -0.694 -0.173  0.608   4.512
G      24616.0  -0.0  1.0  -1.882 -0.900  0.270  0.912   1.402
MP     24130.0   0.0  1.0  -1.286 -0.925 -0.166  0.809   2.839
PER    24093.0  -0.0  1.0 -17.077 -0.444  0.037  0.517  19.321
TS%    24530.0  -0.0  1.0  -5.221 -0.371  0.137  0.540   6.809
FTr    24517.0   0.0  1.0  -1.486 -0.536 -0.134  0.341  25.915
OWS    24577.0  -0.0  1.0  -2.976 -0.636 -0.402  0.347   7.977
DWS    24577.0  -0.0  1.0  -1.755 -0.809 -0.337  0.451  11.635
WS     24577.0   0.0  1.0  -1.728 -0.748 -0.355  0.429   7.491
WS/48  24093.0  -0.0  1.0 -25.246 -0.332  0.098  0.489  20.107
FG     24616.0   0.0  1.0  -1.039 -0.821 -0.289  0.551   7.451
FGA    24616.0  -0.0  1.0  -1.083 -0.834 -0.276  0.579   6.861
FG%    24517.0  -0.0  1.0  -4.494 -0.395  0.085  0.513   5.937
2P     24616.0  -0.0  1.0  -0.993 -0.798 -0.314  0.500   7.904
2PA    24616.0  -0.0  1.0  -1.028 -0.808 -0.301  0.534   7.480
2P%    24488.0   0.0  1.0  -4.464 -0.385  0.107  0.508   5.560
eFG%   24517.0   0.0  1.0  -4.545 -0.370  0.124  0.508  10.583
FT     24616.0   0.0  1.0  -0.903 -0.745 -0.348  0.411   6.505
FTA    24616.0  -0.0  1.0  -0.937 -0.752 -0.334  0.439   8.394
FT%    23758.0  -0.0  1.0  -5.072 -0.439  0.167  0.626   1.979
TRB    24304.0   0.0  1.0  -0.985 -0.761 -0.288  0.426   8.433
AST    24616.0   0.0  1.0  -0.846 -0.706 -0.345  0.332   7.721
PF     24616.0   0.0  1.0  -1.372 -0.912 -0.087  0.774   3.180
PTS    24616.0   0.0  1.0  -1.035 -0.820 -0.297  0.543   7.138

In [45]:
#Compara resultados en boxplots. ¿Qué podemos interpretar de cada técnica?

data_norm.plot.box(figsize=(20,5), rot=90)

Podemos ver que la que mas información nos aporta es la de Nomralización, ya que para empezar, si no escalamos los datos no podemos tener información de valor, ya que hay muchos que estan pegados a 0 y muchos otros que se acercar a 4000

En la grafica de estdarización podemos ver que las variables estan todas mas cerca del 0 y nos da mas información de valor, pero es mas conveniente tener los datos con la grafica de normalización

Binning: Crea una copia del dataframe donde, a partir de la variable AST, generen otras variables AST_categories_(metodo) de modo que:
- Se reflejen 4 intervalos según los métodos between & loc, cut y qcut. Dichos bins deben estar basados en los cuartiles (Q1, Q2, Q3, Q4).
- Similarmente, genera mediante los mismos métodos 3 grupos: LOW, STANDARD y HIGH, que correspondan con aquellos jugadores con un desempeño en puntos (PTS) menor al percentil 10, entre 10 y 90, y mayor a 90 respectivamente.

In [55]:
#Crea una copia del dataframe donde, a partir de la variable AST, generen otras variables AST_categories_(metodo) de modo que: Se reflejen 4 intervalos según los métodos between & loc, cut y qcut. Dichos bins deben estar basados en los cuartiles (Q1, Q2, Q3, Q4).

df['AST_categories_between'] = pd.cut(df['AST'], bins=[0, df['AST'].quantile(0.25), df['AST'].quantile(0.5), df['AST'].quantile(0.75), df['AST'].max()], labels=['Q1', 'Q2', 'Q3', 'Q4'])

df['AST_categories_loc'] = df['AST'].apply(lambda x: 'Q1' if x <= df['AST'].quantile(0.25) else 'Q2' if x <= df['AST'].quantile(0.5) else 'Q3' if x <= df['AST'].quantile(0.75) else 'Q4')

df['AST_categories_cut'] = pd.cut(df['AST'], bins=[0, df['AST'].quantile(0.25), df['AST'].quantile(0.5), df['AST'].quantile(0.75), df['AST'].max()], labels=['Q1', 'Q2', 'Q3', 'Q4'])

df['AST_categories_qcut'] = pd.qcut(df['AST'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [56]:
#Similarmente, genera mediante los mismos métodos 3 grupos: LOW, STANDARD y HIGH, que correspondan con aquellos jugadores con un desempeño en puntos (PTS) menor al percentil 10, entre 10 y 90, y mayor a 90 respectivamente.

df['PTS_categories_between'] = pd.cut(df['PTS'], bins=[0, df['PTS'].quantile(0.1), df['PTS'].quantile(0.9), df['PTS'].max()], labels=['LOW', 'STANDARD', 'HIGH'])

df['PTS_categories_loc'] = df['PTS'].apply(lambda x: 'LOW' if x <= df['PTS'].quantile(0.1) else 'STANDARD' if x <= df['PTS'].quantile(0.9) else 'HIGH')

df['PTS_categories_cut'] = pd.cut(df['PTS'], bins=[0, df['PTS'].quantile(0.1), df['PTS'].quantile(0.9), df['PTS'].max()], labels=['LOW', 'STANDARD', 'HIGH'])

df['PTS_categories_qcut'] = pd.qcut(df['PTS'], q=3, labels=['LOW', 'STANDARD', 'HIGH'])

Encoding: Genera las siguientes codificaciones para la variable Pos
- One-Hot encoding y muestra su sparse matrix
- Despliega el resultado de aplicar Ordinal encoding de modo que se especifique el número para cada categoría
- Codifica por frecuencia
- Codifica la variable Tm mediante el método de tu elección y justifica el criterio.

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [58]:
#Genera las siguientes codificaciones para la variable Pos
#One-Hot encoding y muestra su sparse matrix

exp_cat = df[['Pos']]

enc = OrdinalEncoder() # instanciamos el codificador
ex_level = enc.fit_transform(exp_cat) # ajustar los parametros de ese codificador
ex_level[:10]

array([[ 8.],
       [19.],
       [15.],
       [ 4.],
       [ 4.],
       [ 4.],
       [ 7.],
       [ 8.],
       [ 5.],
       [ 5.]])

In [61]:
df['Pos_oe'] = ex_level # pasar valores del Numpy Array al DF
df[['Pos','Pos_oe']].sample(8) # muestreo aleatorio

      Pos  Pos_oe
X1
8852   PG    12.0
7555   SG    19.0
17814   C     0.0
15053  PF     9.0
22528  PF     9.0
4547   SF    15.0
6536   PG    12.0
4958   PF     9.0

In [63]:
#Despliega el resultado de aplicar Ordinal encoding de modo que se especifique el número para cada categoría

from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder() # 2nd instanciar el modulo
#cat_encoder.fit(exp_cat)
#cat_encoder.transform(exp_cat)
df_cat_1hot = cat_encoder.fit_transform(exp_cat) # devuelve una sparse matrix
df_cat_1hot

<24616x23 sparse matrix of type '<class 'numpy.float64'>'
	with 24616 stored elements in Compressed Sparse Row format>

In [65]:
df_cat_1hot.toarray()
cat_encoder.categories_

[array(['C', 'C-F', 'C-PF', 'C-SF', 'F', 'F-C', 'F-G', 'G', 'G-F', 'PF',
        'PF-C', 'PF-SF', 'PG', 'PG-SF', 'PG-SG', 'SF', 'SF-PF', 'SF-PG',
        'SF-SG', 'SG', 'SG-PF', 'SG-PG', 'SG-SF'], dtype=object)]

In [67]:
pip install category_encoders

Collecting category_encoders
  Obtaining dependency information for category_encoders from https://files.pythonhosted.org/packages/7f/e5/79a62e5c9c9ddbfa9ff5222240d408c1eeea4e38741a0dc8343edc7ef1ec/category_encoders-2.6.3-py2.py3-none-any.whl.metadata
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from category_encoders) (1.26.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from category_encoders) (1.4.1.post1)
Requirement already satisfied: scipy>=1.0.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from category_encoders) (1.12.0)
Collecting statsmodels>=0.9.0 (from category_encoders)
  Obtaining dependency information for statsmodels>=0.9.0 from https://files.pythonhosted.org/packages/d7/e4/5c13fa7ac57bbee2bd0061efff851891a5d166587958d3aa5b6328f23f00/statsmodels-0.14.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading statsmodels-0.14.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: pandas>=1.0.5 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from category_encoders) (2.1.2)
Collecting patsy>=0.5.1 (from category_encoders)
  Obtaining dependency information for patsy>=0.5.1 from https://files.pythonhosted.org/packages/43/f3/1d311a09c34f14f5973bb0bb0dc3a6e007e1eda90b5492d082689936ca51/patsy-0.5.6-py2.py3-none-any.whl.metadata
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/linuxbrew/.linuxbrew/opt/python@3.11/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in /home/chosno/.local/lib/python3.11/site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 1.4 MB/s eta 0:00:00a 0:00:01
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 4.9 MB/s eta 0:00:00a 0:00:01
Downloading statsmodels-0.14.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 14.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: patsy, statsmodels, category_encoders
Successfully installed category_encoders-2.6.3 patsy-0.5.6 statsmodels-0.14.1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [69]:
from category_encoders import OneHotEncoder

In [71]:
OneHotEncoder(cols=['Pos']).fit(df).transform(df)

,Year,Player,Pos_1,Pos_2,Pos_3,Pos_4,Pos_5,Pos_6,Pos_7,Pos_8,...,AST_categories_between,AST_categories_loc,AST_categories_cut,AST_categories_qcut,PTS_categories_between,PTS_categories_loc,PTS_categories_cut,PTS_categories_qcut,exp_lvl_oe,Pos_oe
X1,,,,,,,,,,,,,,,,,,,,,
0,1950.0,Curly Armstrong,1,0,0,0,0,0,0,0,...,Q4,Q4,Q4,Q4,STANDARD,STANDARD,STANDARD,STANDARD,8.0,8.0
1,1950.0,Cliff Barker,0,1,0,0,0,0,0,0,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,STANDARD,19.0,19.0
2,1950.0,Leo Barnhorst,0,0,1,0,0,0,0,0,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,STANDARD,15.0,15.0
3,1950.0,Ed Bartels,0,0,0,1,0,0,0,0,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,4.0,4.0
4,1950.0,Ed Bartels,0,0,0,1,0,0,0,0,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,0,0,0,0,0,0,0,0,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,HIGH,9.0,9.0
24687,2017.0,Tyler Zeller,0,0,0,0,0,0,0,0,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,0.0,0.0
24688,2017.0,Stephen Zimmerman,0,0,0,0,0,0,0,0,...,Q1,Q1,Q1,Q1,STANDARD,STANDARD,STANDARD,LOW,0.0,0.0
24689,2017.0,Paul Zipser,0,0,1,0,0,0,0,0,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,STANDARD,15.0,15.0
24690,2017.0,Ivica Zubac,0,0,0,0,0,0,0,0,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,STANDARD,0.0,0.0

In [72]:
df['Pos'].value_counts()

Pos
PF       4966
SG       4806
C        4758
SF       4698
PG       4648
G         139
F         122
F-C        81
G-F        79
F-G        60
C-F        35
C-PF       33
SF-SG      30
PG-SG      28
SG-PG      27
PF-C       27
SG-SF      26
PF-SF      25
SF-PF      21
SG-PF       3
C-SF        2
SF-PG       1
PG-SF       1
Name: count, dtype: int64

In [75]:
from category_encoders import CountEncoder

CountEncoder(cols=['Pos']).fit(df).transform(df)

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,FTr,...,AST_categories_between,AST_categories_loc,AST_categories_cut,AST_categories_qcut,PTS_categories_between,PTS_categories_loc,PTS_categories_cut,PTS_categories_qcut,exp_lvl_oe,Pos_oe
X1,,,,,,,,,,,,,,,,,,,,,
0,1950.0,Curly Armstrong,79,31.0,FTW,63.0,NaN,NaN,0.368,0.467,...,Q4,Q4,Q4,Q4,STANDARD,STANDARD,STANDARD,STANDARD,8.0,8.0
1,1950.0,Cliff Barker,4806,29.0,INO,49.0,NaN,NaN,0.435,0.387,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,STANDARD,19.0,19.0
2,1950.0,Leo Barnhorst,4698,25.0,CHS,67.0,NaN,NaN,0.394,0.259,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,STANDARD,15.0,15.0
3,1950.0,Ed Bartels,122,24.0,TOT,15.0,NaN,NaN,0.312,0.395,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,4.0,4.0
4,1950.0,Ed Bartels,122,24.0,DNN,13.0,NaN,NaN,0.308,0.378,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,4966,24.0,CHO,62.0,1725.0,16.7,0.604,0.442,...,Q3,Q3,Q3,Q3,STANDARD,STANDARD,STANDARD,HIGH,9.0,9.0
24687,2017.0,Tyler Zeller,4758,27.0,BOS,51.0,525.0,13.0,0.508,0.247,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,LOW,0.0,0.0
24688,2017.0,Stephen Zimmerman,4758,20.0,ORL,19.0,108.0,7.3,0.346,0.161,...,Q1,Q1,Q1,Q1,STANDARD,STANDARD,STANDARD,LOW,0.0,0.0
24689,2017.0,Paul Zipser,4698,22.0,CHI,44.0,843.0,6.9,0.503,0.181,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,STANDARD,15.0,15.0
24690,2017.0,Ivica Zubac,4758,19.0,LAL,38.0,609.0,17.0,0.547,0.206,...,Q2,Q2,Q2,Q2,STANDARD,STANDARD,STANDARD,STANDARD,0.0,0.0