# Actividad en clase: Lectura de BDs relacionales a Pandas con SQL

In [8]:
#Creamos una conexión con la base de datos

import pandas as pd
import sqlite3

#Creamos una conexión con la base de datos
conexion = sqlite3.connect("shop.sqlite")

In [9]:
#Despliega los productos vendidos por kilogramos con precio entre $30 y $60.
query = "SELECT * FROM products WHERE price BETWEEN 30 AND 60"
df = pd.read_sql_query(query, conexion)
print(df)

    ProductID                      ProductName  SupplierID  CategoryID  \
0           1                            Chais           1           1
1           7  Uncle Bob's Organic Dried Pears           3           7
2           8       Northwoods Cranberry Sauce           3           2
3          10                            Ikura           4           8
4          12        Queso Manchego La Pastora           5           4
5          17                     Alice Mutton           7           6
6          26              Gumbär Gummibärchen          11           3
7          27               Schoggi Schokolade          11           3
8          28                Rössle Sauerkraut          12           7
9          32               Mascarpone Fabioli          14           4
10         43                      Ipoh Coffee          20           1
11         51            Manjimup Dried Apples          24           7
12         53                    Perth Pasties          24           6
13         56           Gnocchi di nonna Alice          26           5
14         59             Raclette Courdavault          28           4
15         60                Camembert Pierrot          28           4
16         62                   Tarte au sucre          29           3
17         63                     Vegie-spread           7           2
18         64        Wimmers gute Semmelknödel          12           5
19         69                 Gudbrandsdalsost          15           4
20         72           Mozzarella di Giovanni          14           4

                  Unit  Price
0   10 boxes x 20 bags  31.00
1      12 - 1 lb pkgs.  30.00
2      12 - 12 oz jars  40.00
3     12 - 200 ml jars  31.00
4     10 - 500 g pkgs.  38.00
5       20 - 1 kg tins  39.00
6     100 - 250 g bags  31.23
7   100 - 100 g pieces  43.90
8      25 - 825 g cans  45.60
9     24 - 200 g pkgs.  32.00
10     16 - 500 g tins  46.00
11    50 - 300 g pkgs.  53.00
12           48 pieces  32.80
13    24 - 250 g pkgs.  38.00
14           5 kg pkg.  55.00
15   15 - 300 g rounds  34.00
16             48 pies  49.30
17     15 - 625 g jars  43.90
18  20 bags x 4 pieces  33.25
19          10 kg pkg.  36.00
20    24 - 200 g pkgs.  34.80

In [12]:
#Muestre los empleados nacidos entre 1950 y 1980 con Ph.D.
query = "SELECT * FROM Employees WHERE BirthDate BETWEEN '1950-01-01' AND '1980-12-31' "

df = pd.read_sql_query(query, conexion)
print(df)

   EmployeeID   LastName FirstName   BirthDate       Photo  \
0           1    Davolio     Nancy  1968-12-08  EmpID1.pic
1           2     Fuller    Andrew  1952-02-19  EmpID2.pic
2           3  Leverling     Janet  1963-08-30  EmpID3.pic
3           4    Peacock  Margaret  1958-09-19  EmpID4.pic
4           5   Buchanan    Steven  1955-03-04  EmpID5.pic
5           6     Suyama   Michael  1963-07-02  EmpID6.pic
6           7       King    Robert  1960-05-29  EmpID7.pic
7           8   Callahan     Laura  1958-01-09  EmpID8.pic
8           9  Dodsworth      Anne  1969-07-02  EmpID9.pic

                                               Notes
0  Education includes a BA in psychology from Col...
1  Andrew received his BTS commercial and a Ph.D....
2  Janet has a BS degree in chemistry from Boston...
3  Margaret holds a BA in English literature from...
4  Steven Buchanan graduated from St. Andrews Uni...
5  Michael is a graduate of Sussex University (MA...
6  Robert King served in the Peace Corps and trav...
7  Laura received a BA in psychology from the Uni...
8  Anne has a BA degree in English from St. Lawre...